In [84]:
import pandas as pd

In [93]:
data = {
    'name' : ['Mr Al Smith', 'Mrs. Brian Daw', 'Chris Phil Jr', 'Mrs David Wu Jr', 'Mr Ed She'],
    'salary' : ['1000', '3000', '4000', '2000' ,'6000'],
    'Age' : [15, 53, 23, 21, 63]
}

df = pd.DataFrame(data)

In [98]:
text_to_remove = ['mr', 'mrs', 'jr', 'mr.', 'mrs.', 'jr.']
clean_names = []
for name in df['name']:
    full_name = ""
    for word in name.split():
        if word.lower() not in text_to_remove:
            full_name += word + " "
    clean_names.append(full_name.strip())
    
df['cleaned_names'] = clean_names

In [99]:
df

   Age             name salary cleaned_names
0   15      Mr Al Smith   1000      Al Smith
1   53   Mrs. Brian Daw   3000     Brian Daw
2   23    Chris Phil Jr   4000    Chris Phil
3   21  Mrs David Wu Jr   2000      David Wu
4   63        Mr Ed She   6000        Ed She