In [1]:
import pandas as pd

In [3]:
data = {
    'name' : ['Al Smith', 'Brian Daw', 'Chris Phil', 'David Wu', 'Ed She'],
    'salary' : ['1000', '3000', '4000', '2000' ,'6000'],
    'Age' : [15, 53, 23, 21, 63]
}

df = pd.DataFrame(data)

In [4]:
df

   Age        name salary
0   15    Al Smith   1000
1   53   Brian Daw   3000
2   23  Chris Phil   4000
3   21    David Wu   2000
4   63      Ed She   6000

In [24]:
[first for first in df['name'].str.split() if str(first).split()[0] is not "Al"]

[['Al', 'Smith'],
 ['Brian', 'Daw'],
 ['Chris', 'Phil'],
 ['David', 'Wu'],
 ['Ed', 'She']]

In [17]:
x = ['here', 'there', 'where']

In [21]:
for n in x:
    print(n.split('e'))

['h', 'r', '']
['th', 'r', '']
['wh', 'r', '']

In [32]:
 df['name'].apply(lambda x: str(x).lstrip('Al'))

0         Smith
1     Brian Daw
2    Chris Phil
3      David Wu
4        Ed She
Name: name, dtype: object

In [36]:
df['name'].apply(lambda x : x.replace(['Brian', 'Al'],'Ryan'))

AttributeError: ("'int' object has no attribute 'replace'", 'occurred at index Age')