In [3]:
# excercise from sentdex https://www.youtube.com/watch?v=XMjSGGej9y8

import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])


df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [4]:
print(pd.merge(df1,df2,on=['HPI','Int_rate']))

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [5]:
df1

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55

In [6]:
df2

      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [7]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

In [9]:
joined = df1.join(df3)
print(joined)

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9

In [10]:
df1

     Int_rate  US_GDP_Thousands
HPI
80          2                50
85          3                55
88          2                65
85          2                55

In [27]:
import pandas as pd

df4 = pd.DataFrame({'Year':[2001, 2002, 2003, 2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})


df5 = pd.DataFrame({'Year':[2001, 2003, 2004, 2005],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})

In [30]:
merged = pd.merge(df4, df5, how='right', on='Year')
merged

   Int_rate_x  US_GDP_Thousands_x  Year  Int_rate_y  US_GDP_Thousands_y
0         2.0                50.0  2001           2                  50
1         2.0                65.0  2003           3                  55
2         2.0                55.0  2004           2                  65
3         NaN                 NaN  2005           2                  55

In [31]:
merged.set_index('Year', inplace=True)

In [32]:
merged

      Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
Year
2001         2.0                50.0           2                  50
2003         2.0                65.0           3                  55
2004         2.0                55.0           2                  65
2005         NaN                 NaN           2                  55