In [14]:
# https://www.youtube.com/watch?v=J_LnPL3Qg70&t=16s
# price = m1 * area + m2 * bedrooms + m3 * age + b

import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [8]:
df = pd.DataFrame({
    'area' : [2600, 3000, 3200, 3600, 4000],
    'bedrooms' : [3, 4,np.nan , 3, 5],
    'age' : [20, 15, 18, 30, 8],
    'price' : [550000, 565000, 610000, 595000, 760000]
})

In [9]:
df

   age  area  bedrooms   price
0   20  2600       3.0  550000
1   15  3000       4.0  565000
2   18  3200       NaN  610000
3   30  3600       3.0  595000
4    8  4000       5.0  760000

In [20]:
# need to fix the null with median, rounded down
df['bedrooms'].fillna(value=math.floor(df.bedrooms.median()),inplace=True)

In [21]:
df

   age  area  bedrooms   price
0   20  2600       3.0  550000
1   15  3000       4.0  565000
2   18  3200       3.0  610000
3   30  3600       3.0  595000
4    8  4000       5.0  760000

In [22]:
reg = linear_model.LinearRegression()

In [23]:
reg.fit(df[['area', 'bedrooms', 'age']], df['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [29]:
reg.predict([[3000,3,40]])

array([444400.])