In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [10]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
# map - applies a function to all the items in an input_list.

iris['sepal_length'].map(lambda x: x**2).head()

0    26.01
1    24.01
2    22.09
3    21.16
4    25.00
Name: sepal_length, dtype: float64

In [25]:
iris['sepal_length'].filter(lambda x:x<5)

TypeError: 'function' object is not iterable

In [20]:
number_list = range(-5,5)
less_than_zero = filter(lambda x: x < 0, number_list)

In [21]:
less_than_zero

In [24]:
n = [4,3,2,1]

list(map(lambda x : x ** 2,n))

[16, 9, 4, 1]

In [28]:
list(filter(lambda x : x < 5, iris['sepal_length']))

[4.9,
 4.7,
 4.6,
 4.6,
 4.4,
 4.9,
 4.8,
 4.8,
 4.3,
 4.6,
 4.8,
 4.7,
 4.8,
 4.9,
 4.9,
 4.4,
 4.5,
 4.4,
 4.8,
 4.6,
 4.9,
 4.9]

AttributeError: 'Series' object has no attribute 'distinct'