In [16]:
import pandas as pd
nums = [1,2,3,4,5,6,7,8,9,10]

In [3]:
my_list = [n*n for n in nums]

In [4]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
my_list

In [10]:
my_list = []

for x in nums:
    if x%2 == 0:
        my_list.append(x)

In [11]:
my_list

[2, 4, 6, 8, 10]

In [14]:
my_list = [x for x in nums if x%2 == 0]

In [15]:
my_list

[2, 4, 6, 8, 10]

In [17]:
dict = {
    'x' : [1,2,3,4,5],
    'y' : ['cat', 'dog', 'turtle', 'bunny', 'bird'],
    'z' : [5,4,3,2,1]
}

df = pd.DataFrame(dict)

In [18]:
df

   x       y  z
0  1     cat  5
1  2     dog  4
2  3  turtle  3
3  4   bunny  2
4  5    bird  1

In [33]:
df['v'] = [x for x in df['z'] if x>3]

ValueError: Length of values does not match length of index

In [28]:
df.drop('v',axis=1,inplace=True)

In [29]:
df

   x       y  z
0  1     cat  5
1  2     dog  4
2  3  turtle  3
3  4   bunny  2
4  5    bird  1

In [39]:
my_list = []
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter,num))

In [40]:
my_list = [{letter,num} for letter in 'abcde' for num in range(4)]

In [38]:
my_list

[{0, 'a'},
 {1, 'a'},
 {2, 'a'},
 {3, 'a'},
 {0, 'b'},
 {1, 'b'},
 {2, 'b'},
 {3, 'b'},
 {0, 'c'},
 {1, 'c'},
 {2, 'c'},
 {3, 'c'},
 {0, 'd'},
 {1, 'd'},
 {2, 'd'},
 {3, 'd'},
 {0, 'e'},
 {1, 'e'},
 {2, 'e'},
 {3, 'e'}]

In [63]:
names = ['bruce', 'clark', 'peter']
heros = ['batman', 'superman', 'spiderman']
x = zip(name, heros)

In [64]:
my_dict = {name: hero for name, hero in zip(names, heros) if names != 'clark'}

In [65]:
my_dict

{'bruce': 'batman', 'clark': 'superman', 'peter': 'spiderman'}